# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# Base URL of this instance, e.g., http://myinstance.example.net:8081
NEXT_PUBLIC_BASE_URL=http://myinstance.example.net:8081

# Kiwistand API and caching variables
KIWISTAND_API_HOST="https://news.kiwistand.com:8000"
KIWISTAND_MESSAGES_MAX_PAGE_SIZE=500
STORIES_CACHE_STALE_TTL=180000
STORIES_CACHE_EXPIRE_TTL=600000

# An HTTP RPC URL to be used on the server by viem
VIEM_HTTP_RPC=https://eth-mainnet.alchemyapi.io/v2/<api-key>

# Set your own!
NEXT_PUBLIC_RAINBOW_APP_NAME=<any string>

# Get one at alchemy.com
NEXT_PUBLIC_ALCHEMY_API_KEY=<alphanumeric key>

# Get one at cloud.walletconnect.com
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=<hexidecimal key>
